[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glxw"]
	path = glxw
	url = https://github.com/1iyiwei/glxw
[submodule "glm"]
	path = glm
	url = https://github.com/Groovounet/glm
